:root {
    --radiusNumber: 200px;
    --white: rgb(233, 233, 233);
    --gray: rgb(153, 153, 153)
}

* {
    background-color: #1A1919;
    font-size: 20px;
    list-style-type: none;
}

body{
    color: #DAD3CE;
    font-family:mononoki;
}

@font-face {
  font-family: mononoki;
  src: url(mononoki.woff);
}

h1 {
    font-size: 30px;
    color: #e66337;
}

h2 {
    font-size: 25px;
    color: #cc722e;
}

h3 {
    font-size: 20px;
    color: #E48D4C;
}

.navButton p {
    color: var(--gray);
    background-color: transparent;
    font-size: 25px;
}
.navButton:hover p {
    color: var(--white);
    font-size: 25px;
    text-decoration: none;
}

#circle {
    width: 400px;
    height: 400px;
    position: relative;
    margin: auto;
    border: 1px solid black;
    /*background-image: url("./img/icons/youtube.ico");*/
}
.navButton {
    position: absolute;
    background-color: rgb(74, 74, 74);
    text-align: center;
    line-height: 4rem;
    display: inline;
    color: rgb(233, 233, 233);
    border-radius: 50%;
    height: 7rem;
    width: 7rem;
    transform: translate(-50%, -50%);
}

.navButton:hover {
    border: 5px solid var(--gray);
}

/* https://stackoverflow.com/a/74816531/24903843 */
body:has(#navButton1:hover) #circle {
    background-image: url("./img/pencil.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 35% 30%;
}
body:has(#navButton2:hover) #circle {
    background-image: url("./img/brush.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 30% 30%;
}
body:has(#navButton3:hover) #circle {
    background-image: url("./img/code.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 60% 60%;
}
body:has(#navButton4:hover) #circle {
    background-image: url("./img/phone.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50% 50%;
}

#navButton1 {left: calc(200.0px + var(--radiusNumber)); top: calc(0.0px + var(--radiusNumber))}
#navButton2 {left: calc(124.69796037174672px + var(--radiusNumber)); top: calc(156.36629649360597px + var(--radiusNumber))}
#navButton3 {left: calc(-44.50418679126287px + var(--radiusNumber)); top: calc(194.98558243636472px + var(--radiusNumber))}
#navButton4 {left: calc(-180.19377358048382px + var(--radiusNumber)); top: calc(86.77674782351164px + var(--radiusNumber))}
#navButton5 {left: calc(-180.19377358048382px + var(--radiusNumber)); top: calc(-86.7767478235116px + var(--radiusNumber))}
#navButton6 {left: calc(-44.50418679126292px + var(--radiusNumber)); top: calc(-194.98558243636472px + var(--radiusNumber))}
#navButton7 {left: calc(124.69796037174667px + var(--radiusNumber)); top: calc(-156.36629649360597px + var(--radiusNumber))}
