* {
    background-color: #1A1919;
    font-size: 20px;
    list-style-type: none;
}

body{
    color: #DAD3CE;
    font-family:mononoki;
}

@font-face {
  font-family: mononoki;
  src: url(mononoki.woff);
}

pre {
    background: #1a1919;
    border: 10px solid #928374;
    border-radius: 10px;
    display: block;
    padding: 1em;
    margin: 1em;
    white-space: pre-wrap;
}

h1 {
    font-size: 30px;
    color: #e66337;
}

h2 {
    font-size: 25px;
    color: #cc722e;
}

h3 {
    font-size: 22px;
    color: #E48D4C;
}

code {
	background-color: #1a1919;
	/*border: 5px solid #928374;*/
	border-radius: 5px;
	word-wrap: break-word;
	overflow-wrap: break-word;
}

ul li {
    list-style: inside circle;
    display:list-item;
}

table {
  border-collapse: collapse;
  border: 2px solid #7c6f64;
} 

th,td {
  border: 2px solid #7c6f64;
}

a {
    color: #E09A5E;
}

a:hover {
    color: #d5c4a1;
}

/* https://stackoverflow.com/questions/75095318/content-in-li-is-pushed-to-new-line-when-present-under-p-tag */
p {
    display: inline;
}

#tagsList {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: inline-block;
    gap: 3px; 
    /* border: solid 5px;
    border-width: fit-content; */
}

#tagsList li {
    display: inline;
}

#tagsList button {
    background-color: #cc722e; 
    border: none; 
    color: white; 
    padding: 5px 5px; 
    text-align: center; 
    text-decoration: none;
    display: inline-block;
    font-size: 16px; 
    margin: 4px 2px; 
    cursor: pointer;
    border-radius: 3px;
}

#tagsList button:hover {
    background-color: rgb(147, 73, 20); 
}

#tagsList a {
    color: white; 
    text-decoration: none; 
}

#tagsList a:hover {
    text-decoration: underline; 
}